<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <form method="post" action="/validation">
        Name: <input name="name" value="{{await old('name', '')}}" />
        <br />
        <br />
        Age: <input name="age" value="{{await old('age', '')}}" />
        <br />
        <br />
        <input type="submit" />
    </form>
    Failing Validation:
    <br />
    {{JSON.stringify(await request().old( ))}}
</body>

</html>